.crop_modal_dimensions {
  float: left;
}
.crop_modal_content {
  display: none;
  overflow: scroll;
  width: 1000px;
  height: 600px ;
}

.ui-dialog 
{
  position:fixed;
}


.ui-dialog-buttonset:first-child {
	position:absolute !important;
	right: 10px !important;
	top : 10px !important;
}
